[submodule "components/fit-block-core"]
	path = components/fit-block-core
	url = git@github.com:FitBlock/fit-block-core.git
[submodule "components/fit-block-store"]
	path = components/fit-block-store
	url = git@github.com:FitBlock/fit-block-store.git
[submodule "components/fit-block-ui"]
	path = components/fit-block-ui
	url = git@github.com:FitBlock/fit-block-ui.git
