[submodule "components/fit-block-core"]
	path = components/fit-block-core
	url = https://github.com/FitBlock/fit-block-core.git
[submodule "components/fit-block-store"]
	path = components/fit-block-store
	url = https://github.com/FitBlock/fit-block-store.git
[submodule "components/fit-block-ui"]
	path = components/fit-block-ui
	url = https://github.com/FitBlock/fit-block-ui.git
[submodule "components/fit-block-p2p"]
	path = components/fit-block-p2p
	url = https://github.com/FitBlock/fit-block-p2p.git
